@import "tailwindcss";

@theme {
  --color-primary: #c2410c;
  --color-sidebar: #171717;
  --radius-card: 2.5rem;
  --radius-button: 1.5rem;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {

  *,
  ::after,
  ::before {
    @apply border-slate-200;
  }

  body {
    @apply bg-[#f1f5f9] text-slate-800 antialiased;
    font-family: var(--font-plus-jakarta-sans);
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}